.player {
    position: fixed;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: black;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
}
.hidden {
    display: none;
    transition: height 5s ease;
}

.music-info{
    text-align: left;
    display: flex;
    align-items: center;
    width: 25%;
    height: 25%;
    margin-left: 10px;
    margin-bottom: 20px;
}
.music-info p{
    text-align: left;
    margin-top: 10px;
}
.music-info-names {
    margin-left: 10px;
    vertical-align: top;
}

.player img {
    width: 60px;
    border-radius: 5px;
}


.music-player {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 25%;
    margin-bottom: 10px;
}

.music-player img {
    max-width: 30px;
}

.music-player #btn-play-img {
    max-width: 40px;
}

.music-player .player-control{
    display: flex;
    flex-direction: row;
}
.player button {
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* volume */
.volume-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 30px;
 }

 .volume-icon{
    max-width: 25px;
 }

input[type="range"] {
    width: 100px;
    height: 5px;
    margin-left: 10px;
    accent-color: #fff;
    border: none !important; /* Remove a borda */
    outline: none; /* Remove a borda de foco (caso deseje) */
  
 }

 input[type="range"]:hover{
    accent-color: #1dba54;
 }

