.player {
    position: fixed;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #121212;
    justify-content: space-between;
    padding: 15px 40px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
}
.hidden {
    display: none;
    transition: height 5s ease;
}

.music-info{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.music-info p{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.player img {
    width: 50px;
}

.music-player {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player button {
    text-decoration: none;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
